<?xml version="1.0" encoding="UTF-8"?>
<phpunit beStrictAboutChangesToGlobalState="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTestSize="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutTodoAnnotatedTests="true"
         bootstrap="tests/bootstrap.php"
         checkForUnintentionallyCoveredCode="true"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         verbose="true">
    <testsuites>
        <testsuite name="Library for cPanel API">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
    <php>
        <env name="INTEGRATION_TESTING" value="false"/>
        <env name="CPANEL_HOST" value="hostname.example.com"/>
        <env name="CPANEL_DOMAIN" value="example.com"/>
        <env name="CPANEL_AUTH_HASH" value="hash"/>
        <env name="CPANEL_AUTH_USERNAME" value="username"/>
        <env name="CPANEL_AUTH_PASSWORD" value="password"/>
        <env name="GUZZLE_REQUEST_VERIFY" value="true"/>
    </php>
</phpunit>
